body {
    margin: 0;
    position: relative;
    width: 575px;
    height: 385px;

    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}

#home-score {
    
    text-align: center;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 5px;

    font-family: 'Cursed Timer ULiL', sans-serif;    
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
}

#guest-score {
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 5px;
    
    font-family: 'Cursed Timer ULiL', sans-serif;    
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
}

#plus-one-point{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;


}

#plus-two-point{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: 271px;

   
}

#plus-three-point{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: 271px;

 

}

#gplus-one-point{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 337px;
    top: 271px;

   
}

#gplus-two-point{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 391px;
    top: 271px;

    

}

#gplus-three-point{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 447px;
    top: 271px;
}

.text-button{
    
    width: 45px;
    height: 45px;
    left: 447px;
    top: 271px;

    font-family: 'Cursed Timer ULiL' ;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border: 2px solid #9AABD8;
    border-radius: 5px;


    text-align: center;

    color: #9AABD8;
    background-color: transparent 
}



